html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background-color: #212121;
  height: 100vh;
  overflow: hidden;
}
.hidden {
  display: none;
}

#navbar-container {
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: rgb(36, 99, 78);
}
#navbar-title {
  height: auto;
  font-size: 4em;
  margin-left: 4rem;
}
#navbar-links-container {
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
}
.featuresButtons {
  font-size: 2.75em;
  background-color: transparent;
  border-radius: 2rem;
  border: 2px solid #212121;
  color: white;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  transition: 0.1s ease-in-out all;
}
.featuresButtons:hover {
  cursor: pointer;
  background-color: #212121;
}

#map-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding-top: 0rem;
}

.title {
  padding-top: 3rem;
  font-size: 5rem;
}

#map-container {
  width: 100vw;
  height: 100vh;
  padding-top: 4rem;
}

svg path {
  fill: #ccc;
  stroke: black;
  stroke-width: 1;
}
svg path:hover {
  fill: rgb(36, 99, 78);
  transition: 0.1s;
  cursor: pointer;
}
.clickedCountry {
  fill: rgba(36, 99, 78);
}

#tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 2em;
}

#country-info-outer-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  z-index: 0;
}
#country-info-outer-container.hidden {
  display: none;
}

#country-info-inner-container {
  width: 40rem;
  height: 40rem;
  background-color: #212121;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border: 1px solid rgb(36, 99, 78);
  border-radius: 3rem;
  position: relative;
  z-index: 2;
  padding: 1rem;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
}

#country-info-dimmer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #21212175;
}
#country-info-dimmer:hover {
  cursor: pointer;
}
#country-info-name {
  font-size: 1.5em;
}
#country-info-official-name,
#country-info-population,
#country-info-currency {
  font-size: 0.8em;
}
#country-info-capital {
  font-size: 0.9em;
}
#country-info-flag {
  font-size: 6em;
  line-height: 16rem;
}
