html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background-color: #212121;
  height: 100vh;
  overflow: hidden;
}
.hidden {
  display: none;
}
.flex {
  display: flex;
}

#navbar-container {
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: rgb(36, 99, 78);
}
#navbar-title {
  height: auto;
  font-size: 4em;
  margin-left: 4rem;
}
#navbar-links-container {
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
}
.featuresButtons {
  font-size: 2.75em;
  background-color: transparent;
  border-radius: 2rem;
  border: 2px solid #212121;
  color: white;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  transition: 0.1s ease-in-out all;
}
.featuresButtons:hover {
  cursor: pointer;
  background-color: #212121;
}

#qg-map-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding-top: 0rem;
}

#qg-map-container {
  width: 100vw;
  height: 100vh;
  padding-top: 4rem;
}

svg path {
  fill: #ccc;
  stroke: black;
  stroke-width: 1;
  transition: fill 0.4s ease-out;
}
svg path:hover {
  fill: rgb(90, 90, 90);
  transition: 0.1s;
  cursor: pointer;
}
.clickedCountryWrong {
  fill: rgb(229, 64, 64);
  //transition: fill s ease-out;
}
svg path.clickedCountryWrong:hover {
  fill: rgb(229, 64, 64);
}
.clickedCountryCorrect {
  fill: rgb(47, 153, 82);
}
svg path.clickedCountryCorrect:hover {
  fill: rgb(47, 153, 82);
}

/* game controls*/
#qg-game-control-container {
  background-color: #212121;
  border: 1px solid rgb(36, 99, 78);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
  border-radius: 4rem;
  position: fixed;
  bottom: 10%;
  left: 5%;
  z-index: 999;
  width: 22.5rem;
  height: 20rem;
  font-size: 3em;
  //display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#qg-game-control-dropdown-container {
}
#qg-game-control-dropdown {
  font-size: 1.05em;
  width: 18rem;
  color: white;
  background-color: #212121;
  border: 1px rgb(36, 99, 78) solid;
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  option {
    color: white;
  }
}
#qg-game-control-dropdown:hover {
  cursor: pointer;
}

.continentDropdownOptions {
  font-size: 0.75em;
  border: 1px rgb(36, 99, 78) solid;
  border-radius: 1rem;
}
.continentDropdownOptions:hover {
  cursor: pointer;
}
#qg-game-control-start-button {
  font-size: 1.1em;
  background-color: rgb(36, 99, 78);
  border: 1px solid rgb(36, 99, 78);
  border-radius: 2rem;
  color: white;
  padding: 0.5rem 1rem;
  transition: 0.2s ease-in-out all;
  margin-top: 2rem;
}
#qg-game-control-start-button:hover {
  cursor: pointer;
  border-color: white;
}

/* game container*/
#qg-game-container {
  background-color: #212121;
  border: 1px solid rgb(36, 99, 78);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
  border-radius: 4rem;
  position: fixed;
  bottom: 10%;
  left: 5%;
  z-index: 999;
  width: 22.5rem;
  height: 20rem;
  //font-size: 3em;
  //display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
#qg-game-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  align-items: center;
  gap: 0rem;
  button {
    font-size: 2rem;
    background-color: transparent;
    border: 1px transparent solid;
    border-radius: 50%;
    color: white;
    text-align: center;
    transition: 0.1s ease-in-out all;
  }
  button:hover {
    cursor: pointer;
    color: rgb(36, 99, 78);
  }
  font-size: 4em;
  height: 5rem;
}
#qg-game-header-left-arrow {
  margin-left: 0.5rem;
}
#qg-game-header-right-arrow {
  margin-right: 0.5rem;
}
#qg-game-header-curr-country {
  text-align: center;
  //max-width: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.85em;
}

#qg-game-alert {
  display: flex;
  position: absolute;
  font-size: 1.75em;
  opacity: 0;
  color: transparent;
  border: 1px transparent solid;
  border-radius: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  transition: 1s ease-in-out;
  margin-bottom: 1rem;
}
#qg-game-alert.skip {
  opacity: 1;
  color: gray;
  border-color: gray;
  transition: 1s ease-in-out opacity;
}
#qg-game-alert.greened {
  opacity: 1;
  color: rgb(47, 153, 82);
  border-color: rgb(47, 153, 82);
  transition: 1s ease-in-out opacity;
}
#qg-game-alert.redded {
  opacity: 1;
  color: rgb(229, 64, 64);
  border-color: rgb(229, 64, 64);
  transition: 1s ease-in-out opacity;
}

#qg-game-score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
#qg-game-score-correct-container,
#qg-game-score-total-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 3em;
}
#qg-game-restart-button {
  background-color: rgb(36, 99, 78);
  border: 1px rgb(36, 99, 78) solid;
  border-radius: 2rem;
  padding: 0.25rem 0.75rem;
  color: white;
  transition: 0.2s ease-in-out all;
}
#qg-game-restart-button:hover {
  cursor: pointer;
  border-color: white;
}
