@import "map";
@import "landingPage";

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  font-size: 5rem;
  padding-bottom: 4rem;
}

.featuresButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  text-decoration: none;
  list-style: none;
}
.featuresButtons {
  font-size: 2rem;
  color: black;
  background-color: white;
  padding: 1rem;
  border: 1px black solid;
  border-radius: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.featuresButtons:hover {
  background-color: rgb(216, 216, 216);
  transition: 0.2s ease-in-out;
}
