@import "map";
@import "landingPage";
@import "quizGame";

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background-color: #212121;
}

#navbar-container {
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: rgb(36, 99, 78);
}
#navbar-title {
  font-family: "Poppins", sans-serif;
  height: auto;
  font-size: 4em;
  margin-left: 4rem;
}
#navbar-links-container {
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
}
.featuresButtons {
  font-family: "Poppins", sans-serif;
  font-size: 2.75em;
  background-color: transparent;
  border-radius: 2rem;
  border: 2px solid #212121;
  color: white;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  transition: background-color 0.1s ease-in-out, cursor 0s;
}
.featuresButtons:hover {
  cursor: pointer;
  background-color: #212121;
}

#welcome-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#welcome-message-title {
  font-size: 7em;
  padding-top: 8rem;
  padding-bottom: 2rem;
  width: 80rem;
  text-align: center;
}
#welcome-message {
  text-align: center;
  width: 80rem;
  font-size: 4em;
}
