html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
  height: 100vh;
}

.hidden {
  display: none;
}

#map-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.title {
  padding-top: 3rem;
  font-size: 5rem;
}

#map-container {
  width: 100vw;
  height: 100vh;
  padding-top: 4rem;
}

svg path {
  fill: #ccc;
  stroke: black;
  stroke-width: 1;
}

svg path:hover {
  fill: rgb(36, 99, 78);
  transition: 0.1s;
  cursor: pointer;
}

.clickedCountry {
  fill: rgb(36, 99, 78);
}

#tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 2em;
}

#country-info-outer-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  z-index: 0;
}

#country-info-inner-container {
  width: 40rem;
  height: 40rem;
  background-color: #212121;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 1px solid rgb(36, 99, 78);
  border-radius: 3rem;
  position: relative;
  z-index: 2;
}

#country-info-dimmer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(33, 33, 33, 0.4588235294);
}

#country-info-dimmer:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#landingPage-body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

#landingPage-container {
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/src/images/worldBackground2.png");
  background-size: 400vw auto;
  position: relative;
  background-position: 0%;
  background-repeat: no-repeat;
  z-index: 1;
  animation: slideBackground 60s linear infinite;
  overflow: hidden;
  gap: 10rem;
}

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -150vw 0;
  }
}
#earth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  transform-style: preserve-3d;
  scale: 50%;
}

.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: url("/src/images/worldBackground.png");
  background-color: rgb(55, 55, 237);
  background-size: cover;
  background-repeat: repeat-x;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgb(0, 0, 0), 0 0 15px #0c0c0e;
  animation: animateEarth 50s linear infinite;
}

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300px 0;
  }
}
.earth-circle {
  transform-style: preserve-3d;
  animation: animateText 15s linear infinite;
}

.earth-circle span {
  position: absolute;
  width: 2.5rem;
  top: 0;
  left: 0;
  background: black;
  color: whitesmoke;
  font-size: 5em;
  font-weight: bolder;
  transform-origin: center;
  transform-style: preserve-3d;
  padding: 5px 11px;
  transform: rotateY(calc(var(--i) * 12.8571428571deg)) translateZ(200px);
  border-top: 2px solid rgb(28, 28, 154);
  border-bottom: 2px solid rgb(28, 28, 154);
}

.earth-circle span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateZ(-5px);
}

@keyframes animateText {
  0% {
    transform: perspective(5000px) rotateY(360deg) rotateX(10deg) translateY(-30px);
  }
  100% {
    transform: perspective(5000px) rotateY(0deg) rotateX(10deg) translateY(-30px);
  }
}
#landingPage-sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #212121;
  border: 1px #212121 solid;
  border-radius: 8px;
  padding: 3rem 3rem 3rem 3rem;
  transition: width 0.5s, height 0.5s;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.5);
  width: 30%;
  height: auto;
}

#landingPage-sign-in-welcome {
  font-size: 6em;
  padding-bottom: 2.5rem;
}

#landingPage-sign-in-button {
  font-size: 2rem;
  padding: 1rem;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border-radius: 1.5rem;
  text-align: center;
  width: 15rem;
  border: 1px solid white;
}
#landingPage-sign-in-button:hover {
  transition: all 0.1s ease-in-out;
  background-color: rgb(36, 99, 78);
  cursor: pointer;
}

#landingPage-sign-in-username,
#landingPage-sign-in-password {
  background-color: white;
  border-radius: 20rem;
}

#landingPage-sign-in-username-field,
#landingPage-sign-in-password-field {
  border-radius: 20rem;
  height: 3.5rem;
  width: 25rem;
  padding-left: 1.5rem;
  font-size: 2.5em;
  outline: none;
  background-color: white;
  transition: 0.1s all ease-in-out;
}
#landingPage-sign-in-username-field:focus,
#landingPage-sign-in-password-field:focus {
  border: 2px solid rgb(36, 99, 78);
}

.passwordWrong {
  border: 2px solid red;
  border-radius: 20rem;
}

#landingPage-sign-in-enter {
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem 0rem;
  width: 10rem;
  background-color: transparent;
  border: 1px white solid;
  border-radius: 1.5rem;
  transition: all 0.2s ease-in-out;
}
#landingPage-sign-in-enter:hover {
  cursor: pointer;
  background-color: rgb(36, 99, 78);
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.welcome {
  font-size: 5rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.featuresButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  text-decoration: none;
  list-style: none;
}

.featuresButtons {
  font-size: 2rem;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: white;
  background-color: transparent;
  padding: 1rem;
  border: 1px white solid;
  border-radius: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.featuresButtons:hover {
  background-color: rgb(36, 99, 78);
  transition: 0.1s ease-in-out;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */