html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 5rem;
}

#map-container {
  width: 100%;
  height: 700px;
}

path {
  fill: #ccc;
  stroke: black;
  stroke-width: 1;
}

#landingPage-body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
} /* 
#landingPage-background-wrapper {
  height: 100vh;
  width: 200vw;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.landingPage-background {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  height: 100vh;
  width: 50vw;
  background-image: url("/src/images/worldBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: scrollBg 25s linear infinite;
}
@keyframes scrollBg {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
#landingPage-background1 {
}
#landingPage-background2 {
} */
#landingPage-container {
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/src/images/worldBackground2.png");
  background-size: 300vw auto;
  position: relative;
  background-position: 0%;
  background-repeat: no-repeat;
  z-index: 1;
  animation: slideBackground 30s linear infinite;
  overflow: hidden;
}

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -150vw 0;
  }
}
#earth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transform-style: preserve-3d;
}

.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: url("/src/images/worldBackground.png");
  background-color: #212121;
  background-size: cover;
  background-repeat: repeat-x;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgb(0, 0, 0), 0 0 15px #0c0c0e;
  animation: animateEarth 15s linear infinite;
}

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300px 0;
  }
}
.earth-circle {
  transform-style: preserve-3d;
  animation: animateText 10s linear infinite;
}

.earth-circle span {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  color: #35146f;
  font-size: 5em;
  font-weight: bolder;
  transform-origin: center;
  transform-style: preserve-3d;
  padding: 5px 11px;
  transform: rotateY(calc(var(--i) * 13.3333333333deg)) translateZ(200px);
  border-top: 4px solid #35146f;
  border-bottom: 4px solid #35146f;
}

.earth-circle span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transform: translateZ(-5px);
}

@keyframes animateText {
  0% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg) translateY(-30px);
  }
  100% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg) translateY(-30px);
  }
}
#landingPage-welcome {
  font-size: 6rem;
  padding-bottom: 5rem;
}

#landingPage-sign-in-button {
  font-size: 3rem;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  font-size: 5rem;
  padding-bottom: 4rem;
}

.featuresButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  text-decoration: none;
  list-style: none;
}

.featuresButtons {
  font-size: 2rem;
  color: black;
  background-color: white;
  padding: 1rem;
  border: 1px black solid;
  border-radius: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.featuresButtons:hover {
  background-color: rgb(216, 216, 216);
  transition: 0.2s ease-in-out;
}/*# sourceMappingURL=style.css.map */