html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #212121;
  height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none;
}

#navbar-container {
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: rgb(36, 99, 78);
}

#navbar-title {
  height: auto;
  font-size: 4em;
  margin-left: 4rem;
}

#navbar-links-container {
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
}

.featuresButtons {
  font-family: "Poppins", sans-serif;
  font-size: 2.75em;
  background-color: transparent;
  border-radius: 2rem;
  border: 2px solid #212121;
  color: white;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  transition: 0.1s ease-in-out all;
}

.featuresButtons:hover {
  cursor: pointer;
  background-color: #212121;
}

#map-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding-top: 0rem;
}

.title {
  padding-top: 3rem;
  font-size: 5rem;
}

#map-container {
  width: 100vw;
  height: 100vh;
  padding-top: 4rem;
}

svg path {
  fill: #ccc;
  stroke: black;
  stroke-width: 1;
}

svg path:hover {
  fill: rgb(36, 99, 78);
  transition: 0.1s;
  cursor: pointer;
}

.clickedCountry {
  fill: rgb(36, 99, 78);
}

svg path.clickedCountry:hover {
  fill: rgb(36, 99, 78);
}

#tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 2em;
}

#country-info-outer-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  z-index: 0;
}

#country-info-outer-container.hidden {
  display: none;
}

#country-info-inner-container {
  width: 40rem;
  height: 40rem;
  background-color: #212121;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border: 1px solid rgb(36, 99, 78);
  border-radius: 3rem;
  position: relative;
  z-index: 2;
  padding: 1rem;
  box-shadow: 0px 0px 100px rgb(0, 0, 0);
}

#country-info-dimmer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(33, 33, 33, 0.4588235294);
}

#country-info-dimmer:hover {
  cursor: pointer;
}

#country-info-name {
  font-size: 1.5em;
}

#country-info-official-name,
#country-info-population,
#country-info-currency {
  font-size: 0.8em;
}

#country-info-capital {
  font-size: 0.9em;
}

#country-info-flag {
  font-size: 6em;
  line-height: 16rem;
}

.hidden {
  display: none;
}

#landingPage-body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

#landingPage-container {
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/worldBackground2.png");
  background-size: 400vw auto;
  position: relative;
  background-position: 0%;
  background-repeat: no-repeat;
  z-index: 1;
  animation: slideBackground 60s linear infinite;
  overflow: hidden;
  gap: 10rem;
}

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -150vw 0;
  }
}
#earth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  transform-style: preserve-3d;
  scale: 50%;
}

.earth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: url("../images/worldBackground.png");
  background-color: rgb(55, 55, 237);
  background-size: cover;
  background-repeat: repeat-x;
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgb(0, 0, 0), 0 0 15px #0c0c0e;
  animation: animateEarth 50s linear infinite;
}

@keyframes animateEarth {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300px 0;
  }
}
.earth-circle {
  transform-style: preserve-3d;
  animation: animateText 15s linear infinite;
}

.earth-circle span {
  position: absolute;
  width: 2.5rem;
  top: 0;
  left: 0;
  background: black;
  color: whitesmoke;
  font-size: 5em;
  font-weight: bolder;
  transform-origin: center;
  transform-style: preserve-3d;
  padding: 5px 11px;
  transform: rotateY(calc(var(--i) * 12.8571428571deg)) translateZ(200px);
  border-top: 2px solid rgb(28, 28, 154);
  border-bottom: 2px solid rgb(28, 28, 154);
}

.earth-circle span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transform: translateZ(-5px);
}

@keyframes animateText {
  0% {
    transform: perspective(5000px) rotateY(360deg) rotateX(10deg) translateY(-30px);
  }
  100% {
    transform: perspective(5000px) rotateY(0deg) rotateX(10deg) translateY(-30px);
  }
}
#landingPage-sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #212121;
  border: 1px #212121 solid;
  border-radius: 8px;
  padding: 3rem 3rem 3rem 3rem;
  transition: width 0.5s, height 0.5s;
  box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.5);
  width: 30%;
  height: auto;
}

#landingPage-sign-in-welcome {
  font-family: "Poppins", sans-serif;
  font-size: 6em;
  padding-bottom: 2.5rem;
}

#landingPage-sign-in-button {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  color: white;
  text-decoration: none;
  background-color: transparent;
  border-radius: 1.5rem;
  text-align: center;
  width: 15rem;
  border: 1px solid white;
}
#landingPage-sign-in-button:hover {
  transition: all 0.1s ease-in-out;
  background-color: rgb(36, 99, 78);
  cursor: pointer;
}

#landingPage-sign-in-username,
#landingPage-sign-in-password {
  background-color: white;
  border-radius: 20rem;
}

#landingPage-sign-in-username-field,
#landingPage-sign-in-password-field {
  font-family: "Poppins", sans-serif;
  border-radius: 20rem;
  height: 3.5rem;
  width: 25rem;
  padding-left: 1.5rem;
  font-size: 2.5em;
  outline: none;
  background-color: white;
  transition: 0.1s all ease-in-out;
}
#landingPage-sign-in-username-field:focus,
#landingPage-sign-in-password-field:focus {
  border: 2px solid rgb(36, 99, 78);
}

.passwordWrong {
  border: 2px solid red;
  border-radius: 20rem;
}

#landingPage-sign-in-enter {
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem 0rem;
  width: 10rem;
  background-color: transparent;
  border: 1px white solid;
  border-radius: 1.5rem;
  transition: all 0.2s ease-in-out;
}
#landingPage-sign-in-enter:hover {
  cursor: pointer;
  background-color: rgb(36, 99, 78);
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #212121;
  height: 100vh;
  overflow: hidden;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.transparent {
  opacity: 0%;
}

#navbar-container {
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: rgb(36, 99, 78);
}

#navbar-title {
  height: auto;
  font-size: 4em;
  margin-left: 4rem;
}

#navbar-links-container {
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
}

.featuresButtons {
  font-family: "Poppins", sans-serif;
  font-size: 2.75em;
  background-color: transparent;
  border-radius: 2rem;
  border: 2px solid #212121;
  color: white;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  transition: 0.1s ease-in-out all;
}

.featuresButtons:hover {
  cursor: pointer;
  background-color: #212121;
}

#qg-map-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding-top: 0rem;
}

#qg-map-container {
  width: 100vw;
  height: 100vh;
  padding-top: 4rem;
}

svg path {
  fill: #ccc;
  stroke: black;
  stroke-width: 1;
  transition: fill 0.4s ease-out;
}

svg path:hover {
  fill: rgb(90, 90, 90);
  transition: 0.1s;
  cursor: pointer;
}

.clickedCountryWrong {
  fill: rgb(229, 64, 64);
}

svg path.clickedCountryWrong:hover {
  fill: rgb(229, 64, 64);
}

.clickedCountryCorrect {
  fill: rgb(47, 153, 82);
}

svg path.clickedCountryCorrect:hover {
  fill: rgb(47, 153, 82);
}

/* game controls*/
#qg-game-control-container {
  font-family: "Poppins", sans-serif;
  background-color: #212121;
  border: 1px solid rgb(36, 99, 78);
  box-shadow: 0px 0px 100px rgb(0, 0, 0);
  border-radius: 4rem;
  position: fixed;
  bottom: 10%;
  left: 5%;
  z-index: 999;
  width: 22.5rem;
  height: 20rem;
  font-size: 3em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#qg-game-header-curr-country {
  line-height: 2rem;
}

#qg-game-control-dropdown-container {
  font-family: "Poppins", sans-serif;
}

#qg-game-control-dropdown {
  font-family: "Poppins", sans-serif;
  font-size: 1.05em;
  width: 18rem;
  color: white;
  background-color: #212121;
  border: 1px rgb(36, 99, 78) solid;
  border-radius: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
#qg-game-control-dropdown option {
  color: white;
}

#qg-game-control-dropdown:hover {
  cursor: pointer;
}

.continentDropdownOptions {
  font-family: "Poppins", sans-serif;
  font-size: 0.75em;
  border: 1px rgb(36, 99, 78) solid;
  border-radius: 1rem;
}

.continentDropdownOptions:hover {
  cursor: pointer;
}

#qg-game-control-start-button {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  background-color: rgb(36, 99, 78);
  border: 1px solid rgb(36, 99, 78);
  border-radius: 2rem;
  color: white;
  padding: 0.5rem 1rem;
  transition: 0.2s ease-in-out all;
  margin-top: 2rem;
}

#qg-game-control-start-button:hover {
  cursor: pointer;
  border-color: white;
}

/* game container*/
#qg-game-container {
  background-color: #212121;
  border: 1px solid rgb(36, 99, 78);
  box-shadow: 0px 0px 100px rgb(0, 0, 0);
  border-radius: 4rem;
  position: fixed;
  bottom: 10%;
  left: 5%;
  z-index: 999;
  width: 22.5rem;
  height: 20rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

#qg-game-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20rem;
  align-items: center;
  gap: 0rem;
  font-size: 4em;
  height: 5rem;
}
#qg-game-header button {
  font-size: 2rem;
  background-color: transparent;
  border: 1px transparent solid;
  border-radius: 50%;
  color: white;
  text-align: center;
  transition: 0.1s ease-in-out all;
}
#qg-game-header button:hover {
  cursor: pointer;
  color: rgb(36, 99, 78);
}

#qg-game-header-left-arrow {
  margin-left: 0.5rem;
}

#qg-game-header-right-arrow {
  margin-right: 0.5rem;
}

#qg-game-header-curr-country {
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.85em;
}

#qg-game-alert {
  display: flex;
  position: absolute;
  font-size: 1.75em;
  opacity: 0;
  color: transparent;
  border: 1px transparent solid;
  border-radius: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  transition: 1s ease-in-out;
  margin-bottom: 2rem;
}

#qg-game-alert.skip {
  opacity: 1;
  color: gray;
  border-color: gray;
  transition: 1s ease-in-out opacity;
}

#qg-game-alert.greened {
  opacity: 1;
  color: rgb(47, 153, 82);
  border-color: rgb(47, 153, 82);
  transition: 1s ease-in-out opacity;
}

#qg-game-alert.redded {
  opacity: 1;
  color: rgb(229, 64, 64);
  border-color: rgb(229, 64, 64);
  transition: 1s ease-in-out opacity;
}

#qg-game-score-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;
  line-height: 2rem;
}

#qg-game-score-correct-container,
#qg-game-score-total-container {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  font-size: 3em;
}

#qg-game-restart-button {
  font-family: "Poppins", sans-serif;
  background-color: rgb(36, 99, 78);
  border: 1px rgb(36, 99, 78) solid;
  border-radius: 2rem;
  padding: 0.25rem 0.75rem;
  color: white;
  transition: 0.2s ease-in-out all;
  margin-top: 1rem;
}

#qg-game-restart-button:hover {
  cursor: pointer;
  border-color: white;
}

#qg-timer-container {
  position: fixed;
  bottom: 4%;
  left: 5%;
  z-index: 999;
  width: 22.5rem;
  font-size: 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #212121;
}

#navbar-container {
  width: 100vw;
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 2rem;
  background-color: rgb(36, 99, 78);
}

#navbar-title {
  font-family: "Poppins", sans-serif;
  height: auto;
  font-size: 4em;
  margin-left: 4rem;
}

#navbar-links-container {
  margin-right: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
}

.featuresButtons {
  font-family: "Poppins", sans-serif;
  font-size: 2.75em;
  background-color: transparent;
  border-radius: 2rem;
  border: 2px solid #212121;
  color: white;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  transition: background-color 0.1s ease-in-out, cursor 0s;
}

.featuresButtons:hover {
  cursor: pointer;
  background-color: #212121;
}

#welcome-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-message-title {
  font-size: 7em;
  padding-top: 8rem;
  padding-bottom: 2rem;
  width: 80rem;
  text-align: center;
}

#welcome-message {
  text-align: center;
  width: 80rem;
  font-size: 4em;
}/*# sourceMappingURL=style.css.map */